/* DOCS https://pico.sh/prose#how-can-i-change-the-theme-of-my-blog */
/* ────────────────────────────────────────────────────────────────────────── */

/* hide line numbers for better copying 
 * https://pkm.social/@garlicWharfRat@mastodon.online/114388058730246621 */
code .line .ln {
	display: none;
}

.footnotes {
	font-size: 80%;
}

/* no double hr when using footnotes */
main:has(.footnotes) + footer hr {
	display: none;
}

/* remove the signature, but keep overscroll */
body footer {
	display: none;
}

main {
	margin-bottom: 200px;
}
